---
---
@charset "utf-8";

@import "variables";

body {
  font-family: $bodyFont;
  font-size: $fontSize;
}

.navbar {
  margin-bottom: 0;
}

.citylogo {
  padding-right: 30px;
}

.source-block h2 {
  margin: 0;
}

.no-results {
  color: #A9A9A9;
  line-height: 10em;
  text-align: center;
}

.margin-bottom {
  margin-bottom: 15px;
}
