---
layout: default
---

{% include jumbotron.html %}

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control" id="search" placeholder="Search..." />
      </div>
    </div>
    <div class="col-lg-3">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="categoryFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a data-category="all"><span class="fi fi-fw fi-globe"></span> All</a></li>
          {% for category in site.data.categories %}
            <li><a data-category="{{ category[0] }}"><span class="fi fi-fw fi-{{ category[1].icon }}"></span> {{ category[1].desc }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
 
  <div id="open-cards" class="row">
    {% for source in site.sources %}
      {{ source.output }}
    {% endfor %}
  </div>
</div>
