<div class="container">
  <hr />
  <p>This site is very much a work in progress, and we love feedback! Please feel free to use the discussion thread below, or drop us an email at <a href="mailto:data@smgov.net">data@smgov.net</a>.</p>
  <p>If hacking open source is your thing, <a href="https://github.com/CityofSantaMonica/open.smgov.net" target="_blank">fork us on GitHub</a>; everyone loves a good PR!</p>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'opensmgovnet';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>