<div class="jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="{{ site.baseurl }}/common/img/city-logo.png" alt="City of Santa Monica logo" class="img-responsive">
        </div>
        <div class="col-md-10">
            <h1 class="media-heading">Your City Government Is Open!</h1>
            <p>Our community has a long and proud history of spirited conversation, political action, and technological innovation. Welcome to the new home of Open Government in Santa Monica.</p>
            <p><a class="btn btn-primary btn-lg" href="#disqus_thread" role="button">Get in touch with us »</a></p>
        </div>
    </div>
  </div>
</div>
